<div class="box box-primary">
    <div class="box-header">
        <h3 class="box-title">Add New Number to Track</h3>
    </div><!-- /.box-header -->
    <!-- form start -->
    <form role="form">
        <div class="box-body">
            <div class="form-group">
                <label>PhoneNumber: (Pls include CC without '+' prefix)</label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-phone"></i>
                    </div>
                    <input type="text" class="form-control" id="phoneNumber" ng-model="newNumber.phoneNumber"/>
                </div><!-- /.input group -->
            </div>
            <div class="form-group">
                <label for="nickName">Nickname</label>
                <input type="text" class="form-control" id="nickName" placeholder="Nickname" ng-model="newNumber.nickName">
            </div>
            <div class="form-group">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="newNumber.track" ng-init="newNumber.track=false"> Tracked
                </label>
            </div></div>
        </div><!-- /.box-body -->

        <div class="box-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </form>
</div><!-- /.box -->