<div class="login-box">
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 ">
        <p class="login-box-msg">Sign in to start your session</p>

        <div class="social-auth-links text-center">
            <a href="/auth/loginFacebook" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign in using Facebook</a>
            <a href="#" class="btn btn-block btn-social btn-google-plus btn-flat"><i class="fa fa-google-plus"></i> Sign in using Google+</a>
        </div><!-- /.social-auth-links -->
    </div>
</div>



