<!-- Content Header (Page header) -->
<section class="content-header">
    <h1> Account Settings </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <div class="box box-success">
                <div class="box-body">
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input id="email" class="form-control" type="email" disabled ng-model="user.email"/>
                    </div>
                    <!-- phone mask -->
                    <div class="form-group">
                        <label>PhoneNumber: (Pls include CC without '+' prefix)</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <input type="text" class="form-control" ng-model="user.phoneNumber"/>
                        </div><!-- /.input group -->
                    </div><!-- /.form group -->
                </div><!-- /.box-body -->
            </div><!-- /.box -->

            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Phone Numbers to be Tracked</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-bordered">
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>Nickname</th>
                            <th>Phone Number</th>
                            <th>Tracked</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                        <tr ng-repeat="item in user.phoneNumbersToTrack">
                            <td>{{ $index }}</td>
                            <td>{{ item.nickName }}</td>
                            <td>{{ item.phoneNumber }}</td>
                            <td>{{ item.track }}</td>
                            <td><input type="button" value="Edit" class="btn btn-warning center-block" ng-click="editTrackedNumber(item.phoneNumber)"/></td>
                            <td><input type="button" value="Remove" class="btn btn-primary center-block" ng-click="removeTrackedNumber(item.phoneNumber)"/></td>
                        </tr>
                    </table>
                </div><!-- /.box-body -->
                <div class="box-footer clearfix">
                    <button type="button" class="btn btn-success pull-right" ng-click="addTrackedNumber()" style="margin-left:5px;">Add New Number</button>
                    <button type="button" class="btn btn-danger pull-right" ng-click="updateUserToDatabase(user)" style="margin-left:10px;">Update to Database</button>
                </div>
                <div class="box-footer clearfix">
                    <p ng-class="{'text-green pull-right':changedDataUpdatedToServer , 'text-red pull-right': !changedDataUpdatedToServer}">
                        {{ changedDataUpdatedToServer ? 'DB Updated' : 'Pending Changes'}}
                    </p>
                </div>
            </div><!-- /.box -->

        </div><!-- /.col (right) -->
    </div><!-- /.row -->

</section><!-- /.content -->
