<!DOCTYPE html>
<html ng-app="whatsAppTrackerApp">
  <head>
    <title>WhatsAppTracker Web App</title>

    <meta charset="UTF-8">
      <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css" />
    <link href="/AdminLTE/dist/css/AdminLTE.min.css" rel="stylesheet" type="text/css" />
    <link href="/AdminLTE/dist/css/skins/skin-blue.min.css" rel="stylesheet" type="text/css" />

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-cookies.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.0/ui-bootstrap-tpls.min.js"></script>
      <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage 
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.
        
        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:
            
            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/compass.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>

  <body ng-controller="userController" ng-init="user=<%= req.session.user? JSON.stringify(req.session.user):'{email: "Not Login"}' %>">

    <div class="skin-blue sidebar-mini">
          <div class="wrapper">
          <!-- Main Header -->
                  <!-- Logo -->
                  <a href="index2.html" class="logo">
                      <!-- mini logo for sidebar mini 50x50 pixels -->
                      <span class="logo-mini"><b>A</b>LT</span>
                      <!-- logo for regular state and mobile devices -->
                      <span class="logo-lg"><b>WATracker</b>Web</span>
                  </a>

                  <!-- Header Navbar -->
                  <nav class="navbar navbar-static-top" role="navigation">
                      <!-- Sidebar toggle button-->
                      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                          <span class="sr-only">Toggle navigation</span>
                      </a>
                      <!-- Navbar Right Menu -->
                      <div class="navbar-custom-menu">
                          <ul class="nav navbar-nav">
                              <!-- Messages: style can be found in dropdown.less-->
                              <li class="dropdown messages-menu">
                                  <!-- Menu toggle button -->
                                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                      <i class="fa fa-envelope-o"></i>
                                      <span class="label label-success">4</span>
                                  </a>
                                  <ul class="dropdown-menu">
                                      <li class="header">You have 4 messages</li>
                                      <li>
                                          <!-- inner menu: contains the messages -->
                                          <ul class="menu">
                                              <li><!-- start message -->
                                                  <a href="#">
                                                      <div class="pull-left">
                                                          <!-- User Image -->
                                                          <img src="/AdminLTE/dist/img/default-user-image-160x160.png" class="img-circle" alt="User Image"/>
                                                      </div>
                                                      <!-- Message title and timestamp -->
                                                      <h4>
                                                          Support Team
                                                          <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                                      </h4>
                                                      <!-- The message -->
                                                      <p>Why not buy a new awesome theme?</p>
                                                  </a>
                                              </li><!-- end message -->
                                          </ul><!-- /.menu -->
                                      </li>
                                      <li class="footer"><a href="#">See All Messages</a></li>
                                  </ul>
                              </li><!-- /.messages-menu -->

                              <!-- Notifications Menu -->
                              <li class="dropdown notifications-menu">
                                  <!-- Menu toggle button -->
                                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                      <i class="fa fa-bell-o"></i>
                                      <span class="label label-warning">10</span>
                                  </a>
                                  <ul class="dropdown-menu">
                                      <li class="header">You have 10 notifications</li>
                                      <li>
                                          <!-- Inner Menu: contains the notifications -->
                                          <ul class="menu">
                                              <li><!-- start notification -->
                                                  <a href="#">
                                                      <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                                  </a>
                                              </li><!-- end notification -->
                                          </ul>
                                      </li>
                                      <li class="footer"><a href="#">View all</a></li>
                                  </ul>
                              </li>
                              <!-- Tasks Menu -->
                              <li class="dropdown tasks-menu">
                                  <!-- Menu Toggle Button -->
                                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                      <i class="fa fa-flag-o"></i>
                                      <span class="label label-danger">9</span>
                                  </a>
                                  <ul class="dropdown-menu">
                                      <li class="header">You have 9 tasks</li>
                                      <li>
                                          <!-- Inner menu: contains the tasks -->
                                          <ul class="menu">
                                              <li><!-- Task item -->
                                                  <a href="#">
                                                      <!-- Task title and progress text -->
                                                      <h3>
                                                          Design some buttons
                                                          <small class="pull-right">20%</small>
                                                      </h3>
                                                      <!-- The progress bar -->
                                                      <div class="progress xs">
                                                          <!-- Change the css width attribute to simulate progress -->
                                                          <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                              <span class="sr-only">20% Complete</span>
                                                          </div>
                                                      </div>
                                                  </a>
                                              </li><!-- end task item -->
                                          </ul>
                                      </li>
                                      <li class="footer">
                                          <a href="#">View all tasks</a>
                                      </li>
                                  </ul>
                              </li>
                              <!-- User Account Menu -->
                              <li class="dropdown user user-menu">
                                  <!-- Menu Toggle Button -->
                                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                      <!-- The user image in the navbar-->
                                      <% if( req.session.user ) { %>
                                        <img src="<%= req.session.user.profilePhoto %>" class="user-image" alt="User Image" />
                                      <% } else{ %>
                                        <img src="/AdminLTE/dist/img/default-user-image-160x160.png" class="user-image" alt="User Image" />
                                      <% } %>
                                      <!-- hidden-xs hides the username on small devices so only the image appears. -->
                                          <span class="hidden-xs">{{user.email }}</span>

                                  </a>
                                  <ul class="dropdown-menu">
                                      <!-- The user image in the menu -->
                                      <li class="user-header">
                                          <img src="/AdminLTE/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image" />
                                          <p>
                                              Alexander Pierce - Web Developer
                                              <small>Member since Nov. 2012</small>
                                          </p>
                                      </li>
                                      <!-- Menu Body -->
                                      <li class="user-body">
                                          <div class="col-xs-4 text-center">
                                              <a href="#">Followers</a>
                                          </div>
                                          <div class="col-xs-4 text-center">
                                              <a href="#">Sales</a>
                                          </div>
                                          <div class="col-xs-4 text-center">
                                              <a href="#">Friends</a>
                                          </div>
                                      </li>
                                      <!-- Menu Footer-->
                                      <li class="user-footer">
                                          <div class="pull-left">
                                              <a href="#" class="btn btn-default btn-flat">Profile</a>
                                          </div>
                                          <div class="pull-right">
                                              <a href="#" class="btn btn-default btn-flat">Sign out</a>
                                          </div>
                                      </li>
                                  </ul>
                              </li>
                          </ul>
                      </div>
                  </nav>
              </header>
              <!-- Left side column. contains the logo and sidebar -->
              <aside class="main-sidebar" >

                  <!-- sidebar: style can be found in sidebar.less -->
                  <section class="sidebar">
                      <!-- Sidebar user panel (optional) -->
                      <div class="user-panel">
                          <div class="pull-left image">
                              <% if( req.session.user ) { %>
                              <img src="<%= req.session.user.profilePhoto %>" class="img-circle" alt="User Image" />
                              <% } else{ %>
                                <img src="/AdminLTE/dist/img/default-user-image-160x160.png" class="img-circle" alt="User Image" />
                              <% } %>

                          </div>
                          <div class="pull-left info">{{ user.email }} </div>
                      </div>

                      <!-- search form (Optional) -->
                      <!-- <form action="#" method="get" class="sidebar-form">
                          <div class="input-group">
                              <input type="text" name="q" class="form-control" placeholder="Search..."/>
                          <span class="input-group-btn">
                            <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
                          </span>
                          </div>
                      </form>-->
                      <!-- /.search form -->

                      <!-- Sidebar Menu -->
                      <ul class="sidebar-menu">
                          <h1>&nbsp;</h1>
                          <!--<li class="header">MENU</li>-->
                          <!-- Optionally, you can add icons to the links -->
                          <li class="active"><a href="/user/dashboard"><i class='fa fa-dashboard'></i> <span>Dashboard</span></a></li>
                          <li><a href="#"><i class='fa fa-search'></i> <span>Compare</span></a></li>
                          <li><a href="#"><i class='fa fa-bar-chart'></i> <span>Statistics</span></a></li>
                          <li><a href="/user/settings/"><i class='fa fa-gears'></i> <span>Settings</span></a></li>
                          <li><a href="#"><i class='fa fa-question-circle'></i> <span>About</span></a></li>
                          <!--<li class="treeview">
                              <a href="#"><i class='fa fa-link'></i> <span>Multilevel</span> <i class="fa fa-angle-left pull-right"></i></a>
                              <ul class="treeview-menu">
                                  <li><a href="#">Link in level 2</a></li>
                                  <li><a href="#">Link in level 2</a></li>
                              </ul>
                          </li>-->
                      </ul><!-- /.sidebar-menu -->
                  </section>
                  <!-- /.sidebar -->
              </aside>
              <!-- Content Wrapper. Contains page content -->
              <div class="content-wrapper">
                  <%- body %>
              </div><!-- /.content-wrapper -->

              <!-- Main Footer -->
              <footer class="main-footer">
                  <!-- To the right -->
                  <div class="pull-right hidden-xs">
                      Anything you want
                  </div>
                  <!-- Default to the left -->
                  <strong>Copyright &copy; 2015 <a href="#">Company</a>.</strong> All rights reserved.
              </footer>
          </div><!-- ./wrapper -->

          <script src="/AdminLTE/plugins/jQuery/jQuery-2.1.4.min.js"></script>
          <script src="/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
          <script src="/AdminLTE/dist/js/app.min.js" type="text/javascript"></script>
          <script src="/app/app.js"></script>
          <script src="/app/controllers/usercontroller.js"></script>
          <script src="/app/controllers/dialogs/addnumberdialogcontroller.js"></script>
          <script src="/app/controllers/dialogs/editnumberdialogcontroller.js"></script>

      </div>
  </body>
</html>
