.compass {
	position: relative;
	width: 260px;
	height: 260px;
	margin: 20px auto;
	background: #222;
	padding: 20px;
	border-radius: 40px;
	border: 5px solid #444;
	overflow: hidden;
}

.compass .disc {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 0;
	background: url('http://dev.rvltn.eu/compass/compass.svg');
	width: 250px;
	height: 250px;
	background-size: 100%;
}

.compass .arrow {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
	background: url('http://dev.rvltn.eu/compass/arrow.svg');
	width: 250px;
	height: 250px;
	background-size: 100%;
}